{% extends 'base.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
	{{ encore_entry_link_tags('form') }}
{% endblock %}
{% block body %}
	<div class="example-wrapper">
		<h1>
			Bienvenue sur page 2 !!!</h1>
		<a href="{{ path('app_page') }}">aller sur page 1</a>
	</div>
	{{ color }}
{% endblock %}
