{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	
    <h1 class="title">Veuillez s'authentifier</h1>
	<div class="col-md-4 m-auto">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
		<form action="{{ path('app_login') }}" method="post">
			<div class="mb-3">
				<label for="username" class="form-label">Email:</label>
				<input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="name@example.com">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" name="_password">
			</div>

			{# If you want to control the URL the user is redirected to on success
						            <input type="hidden" name="_target_path" value="/account"> #}
            <div class="d-flex justify-content-center">
			    <button class="btn btn-primary form-control" type="submit">se connecter</button>
            </div>
		</form>
	</div>
{% endblock %}
