@import '~bootstrap';
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    background-color: rgb(21, 47, 95);
    padding: 0px 100px;
    color:white;
}

.link {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.header-table {
    color:rgb(102, 204, 174)
}

.table {
    color:  white;
}

.title {
    text-align: center;
    color: rgb(6, 151, 161);
    padding: 25px 0px;
}