{% extends 'base.html.twig' %}

{% block title %}New Person{% endblock %}

{% block body %}
    <h1>Add new Person</h1>

    {{ include('person/_form.html.twig') }}

    <a href="{{ path('person_list') }}">back to list</a>
{% endblock %}
